<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>
<h2>Hero Name: <%= @heroes[0].name %></h2>

<% @heroes.each do |hero| %>
<h2>Hero Name: <%= hero.name %>
<p>Hero Power: <%= hero.power %>
<br>Hero Biography: <%= hero.bio %></p>
<% end %>